name: Wisecow workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/wisecow:${{ github.sha }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/wisecow:${{ github.sha }}

      - name: Deploy to Minikube
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/wisecow:${{ github.sha }}|" Kubernetes/wisecow-deployment.yaml
          kubectl apply -f Kubernetes/wisecow-deployment.yaml
          kubectl apply -f Kubernetes/wisecow-service.yaml
          kubectl apply -f Kubernetes/ingress.yaml

  sast-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Run Accuknox SAST
        uses: accuknox/sast-scan-opengrep-action@main
        with:
          accuknox_endpoint: ${{ secrets.ACCUKNOX_ENDPOINT }}
          accuknox_token: ${{ secrets.ACCUKNOX_TOKEN }}
          accuknox_label: ${{ secrets.ACCUKNOX_LABEL }}
          soft_fail: true



###
